.s1{
    color: red;
}

.s2{
    color: rgb(0, 0, 255);
}

.s3{
    background-color: #000000;
    color: #ffffff;
}

.s4{
    color: rgba(150, 90, 90, 0.9);
}

p{
    color: chocolate;
}