h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 24px;
}

.Fonte-1{
    font-family: "Poppins", sans-serif;
}

.Fonte-2{
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}